/* #region common */
* {
    margin: 0;
    font-size: 18px;
    color: var(--db-dark);
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --db-dark: #000000;
    --db-light: #ffffff;
    --db-link: #3939f0;
    --db-highlight: #0061fe;
    --db-jumbo-bg: #b4d0e6;
    --db-bg-light: #ffffff;
    --db-bg-dark: #000000;
}

/* #endregion common */


/* #region utlity */

/* layout */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
}

.head_align_text {
    padding-top: 0.25rem;
}

[class^="col"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col_2 {
    width: calc(100% / 12 * 2);
}


.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

/* layout */

/* buttons */

.btn_hl {
    color: var(--db-light);
    background-color: var(--db-highlight);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;

}

/* /buttons */


/* #endregion utility */

header {
    padding: 1rem 0.5rem;
    position: fixed;
    width: 100%;
    background-color: var(--db-bg-light);

    .head_bar {
        justify-content: space-between;
        margin: 0 1rem;

        .logo {
            height: 30px;
        }
    }
}

main {}