/* #region common */
* {
    margin: 0;
    font-size: 18px;
    color: var(--db-dark);
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

:root {
    --db-dark: #000000;
    --db-light: #ffffff;
    --db-link: #3939f0;
    --db-highlight: #0061fe;
    --db-jumbo-bg: #b4d0e6;
    --db-bg-light: #ffffff;
    --db-bg-dark: #000000;
    --db-card-border: #d1d1d3;
}

/* #endregion common */


/* #region utlity */

/* layout */

.d_flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align_text {
    margin-bottom: 2rem;
}

.jumbo_margin {
    margin: 0 350px;
}

#mainer_align {
    margin: 0 24%;
}

.fix_da_weirdo {
    padding-top: 2rem;
}

.col_df {
    display: flex;
    justify-content: space-between;
}




.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: 100%;
}

/* layout */

/* text format */

h1 {
    font-size: 92px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 27px;
}

.less_important {
    color: var(--db-card-border);
}

ul {
    margin-top: 1.5rem;
}

.fa_li {
    list-style-type: none;
    position: relative;
    padding: 15px 0;
    margin: 0;

    .check {
        color: var(--db-highlight);
    }

    i {
        font-size: 30px;
        float: left;
        margin-left: -2.5rem;
    }
}

.link {
    color: var(--db-link);
    text-decoration: underline;
}

/* /text format */

/* buttons */


.btn_hl {
    color: var(--db-light);
    background-color: var(--db-highlight);
    padding: 0.5rem 1rem;
}

.btn_circ_checkd {
    font-size: 26px;
    color: var(--db-highlight);
}

.btn_circ_uncheckd {
    color: var(--db-light);
    border: 1px solid black;
    border-radius: 100%;
    font-size: 23.5px;
    margin-left: 2rem;
}

.btn_trial {
    padding: 0.75rem 2.4rem;
}

.contact {
    padding: 0.75rem 5.7rem;
}

.btn_mt {
    border: 1px solid black;
    padding: 0.75rem 1rem;
}

/* /buttons */


/* #endregion utility */

header {
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    width: 99%;
    background-color: var(--db-bg-light);

    .head_align_text {
        padding-top: 0.25rem;
    }

    .head_bar {
        justify-content: space-between;
        margin: 0 1rem;

        .logo {
            height: 30px;
        }
    }

    .fix4space_headbtn {
        margin: 0 0.5rem;
    }
}

/* #region main */

main {
    #jumbotron {
        margin-top: 5rem;
        background-color: var(--db-jumbo-bg);

        #jumbo_text * {
            line-height: 1.5rem;
            padding-right: 1rcap;
        }

        #Jumbo_desc {
            flex-wrap: wrap;
            margin: 2rem 0;
        }

        .fix_da_weirdo {
            padding-top: 2rem;
        }

        .arw_dwn {
            font-size: 48px;
            margin-top: 6rem;
        }

    }

    #db_business {
        background-color: var(--db-bg-light);
        margin-top: -4rem;
        padding-top: 10rem;

        #payment_frequency {
            margin-top: 2.5rem;
        }

        .p_plan_card {
            border: 1px solid var(--db-card-border);
            padding: 0 2rem;
            margin: 2rem 1rem;
            height: 1100px;

            .card_trial {
                margin: 2rem 0;
                line-height: 3rem;
            }
        }

        .card_type {
            margin: 2rem 0;
            line-height: 2rem;

            h3 {
                margin-bottom: 1rem;
            }
        }

        #card_bottom {
            border: 1px solid var(--db-card-border);
            padding: 0 2rem;
            margin: 2rem 0;

            p {
                margin-bottom: 2rem;
            }
        }


        .card_head {
            text-align: center;
            padding: 1rem 0;
            border-bottom: 1px solid var(--db-card-border);
        }

        #b_card_align {
            display: flex;
            justify-content: space-between;

            #bc_btn_align {
                margin-top: 3.25rem;
            }
        }

        .howdy {
            margin: 10rem 0;

            .pardner_text {
                margin: 2rem;

                p {
                    margin: 2rem 0;
                }
            }
        }

        .operations {
            margin: 1rem;

            div {
                height: 350px;

                img {
                    width: 100%;
                }
            }

            p {
                margin: 2rem 0;
                line-height: 1.25rem;
            }
        }

        .l_card {
            margin-left: 0;
        }

        .c_card {
            margin: 2rem 0.5rem;
        }

        .c_card2 {
            margin: 0.9rem 0.5rem;
        }

        .r_card {
            margin-right: 0;
        }

        .r_card2 {
            margin: 13px 0;
        }


    }

    .section_spacing_align {
        margin: 3rem 0 10rem 0;
    }

}

/* #endregion main */


/* #region footer */
footer * {
    color: var(--db-light);
    line-height: 2rem;

    h3 {
        margin: 1rem 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    hr {
        margin: 5rem 0 2rem;
        width: 100px;
    }
}

footer {
    background-color: var(--db-bg-dark);

    .jumbo_margin {
        padding: 2rem 0;
    }

    .d_flex {
        justify-content: space-between;
    }
}

/* #endregion footer */